// Fonts
@import "fonts";
// Variables
@import "variables";

html {
    font-size: 16px;
}

@media (min-height: 1000px), (min-width: 1300px) {
    html {
        font-size: 24px;
    }
}

body {
    background: url('../img/background.png') no-repeat fixed center center;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.white-box {
    background-color: $white;
    height: 70%;
    width: 95%;
    max-width: 1200px;
    max-height: 800px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

@media (max-height: 1000px) {
    .white-box {
        max-height: 700px;
    }
}

@media (max-width: 1300px) {
    .white-box {
        max-width: 850px;
    }
}

h1 {
    font-family: dancing_scriptbold, serif;
    color: $redLight;
    align-self: flex-start;
    font-size: 4em;
    font-weight: normal;
    line-height: 1.2em;
    margin: 1rem 0;
    span {
        display: block;
        font-size: 1.5em;
        margin-left: 1em;
    }
}

.row {
    display: flex;
    height: 95%;

    .half-col {
        width: 50%;
        height: 100%;
        padding: 20px 5%;
        display: flex;
        flex-wrap: wrap;

        &:first-child {
            align-items: center;
            img {
                margin: 3% auto;
                max-height: 70%;
                max-width: 100%;
            }
        }
        &:last-child {
            align-content: flex-start;
        }
    }
}

footer {
    display: flex;
    height: 5%;
    img {
        margin: auto;
        max-width: 200px;
        max-height: 90%;
    }
}

.credit {
    font-family: abadi_mt_stdlight, serif;
    color: $redLight;
    position: fixed;
    font-size: 0.75em;
    bottom: 0.5em;
    right: 1em;
    text-decoration: none;
}
.center {
    text-align: center;
}

.btn {
    display: inline-block;
    font-family: abadi_mt_stdregular, serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid $redLight;
    border-radius: 1px;
    padding: 7px 20px;
    color: $redLight;
    text-decoration: none;
    .icn-gift {
        &:before {
            content: "__";
            background: url("../img/icon-gift.png") no-repeat;
            background-size: 0.8em;
            color: transparent;
            margin-right: 10px;
        }
    }
    &:hover {
        background-color: $redLight;
        color: $white;
        .icn-gift {
            &:before {
                background: url("../img/icon-gift-hover.png") no-repeat;
                background-size: 0.8em;
            }
        }
    }
}
.message {
    font-family: abadi_mt_stdlight, serif;

}