@font-face {
    font-family: 'abadi_mt_stdregular';
    src: url('../fonts/abadimtstd-webfont.woff2') format('woff2'),
    url('../fonts/abadimtstd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abadi_mt_stdlight';
    src: url('../fonts/abadimtstd-light-webfont.woff2') format('woff2'),
    url('../fonts/abadimtstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptbold';
    src: url('../fonts/dancingscript-bold-webfont.woff2') format('woff2'),
    url('../fonts/dancingscript-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
